@keyframes enterAnimation {
  0% {
    transform: translateX(-100%);

    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.wrapper {
  background-color: steelblue;
}

.enter {
  animation: enterAnimation 2s ease-in-out;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  opacity: 0;
}

.show {
  opacity: 1;
  /* animation: fadeIn 5s forwards; */
}
