.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  position: absolute;
  z-index: 2;
  left: 50%;
}

.button {
  padding: 40px;
  display: inline-block;
  background-color: red;
}
.button:hover {
  background-color: burlywood;
}

@keyframes myAnimationLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cpf {
  background-color: green;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cpfActive {
  animation: myAnimationLeft 2s ease-in-out;
  z-index: 1;
}

@keyframes myAnimationRight {
  0% {
    transform: translateX(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cnpj {
  background-color: pink;

  transition: transform 0.5s ease-in-out;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cnpjActive {
  animation: myAnimationRight 2s ease-in-out;
  z-index: 1;
}
