/* .page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
} */

.header {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100vw;
}

.button {
  padding: 40px;
  display: inline-block;
  background-color: red;
}
.button:hover {
  background-color: burlywood;
}

.wrapper {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  /* padding-top: 300px; */
}
/*
.cpf {
  background-color: green;
  height: 100vh;
  overflow: auto;
}

.cpfActive {
  animation: myAnimationLeft 2s ease-in-out;
  z-index: 1;
}

@keyframes myAnimationLeft {
  0% {
    transform: translateX(-100%);
    transform: translateX(100%);

    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
*/
