@keyframes enterAnimation {
  0% {
    transform: translateX(100%);

    opacity: 0.5;
  }
  99% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  background-color: salmon;
}

.enter {
  animation: enterAnimation 2s ease-in-out;
  z-index: 1;
}

.content {
  opacity: 0;
  transition: opacity 1s ease;
}

.show {
  opacity: 1;
}
